service: HMCF-WebAnno

frameworkVersion: ">=1.1.0 <2.0.0"

provider:
  name: aws
  runtime: nodejs6.10
  environment:
    USERS_DYNAMODB_TABLE: ${self:service}-${opt:stage, self:provider.stage}-Users
    GROUPS_DYNAMODB_TABLE: ${self:service}-${opt:stage, self:provider.stage}-Groups
    PAGES_DYNAMODB_TABLE: ${self:service}-${opt:stage, self:provider.stage}-Pages
    ANNOTATIONS_DYNAMODB_TABLE: ${self:service}-${opt:stage, self:provider.stage}-Annotations
    QUESTIONS_DYNAMODB_TABLE: ${self:service}-${opt:stage, self:provider.stage}-Questions
    ANSWERS_DYNAMODB_TABLE: ${self:service}-${opt:stage, self:provider.stage}-Answers
    Comments_DYNAMODB_TABLE: ${self:service}-${opt:stage, self:provider.stage}-Comments
  iamRoleStatements:
    - Effect: Allow
      Action:
        - dynamodb:Query
        - dynamodb:Scan
        - dynamodb:GetItem
        - dynamodb:PutItem
        - dynamodb:UpdateItem
        - dynamodb:DeleteItem
      Resource: "arn:aws:dynamodb:${opt:region, self:provider.region}:*:table/${self:provider.environment.USERS_DYNAMODB_TABLE}"

functions:
  createUser:
    handler: users/create.create
    events:
      - http:
          path: users
          method: post
          cors: true

  listUser:
    handler: users/list.list
    events:
      - http:
          path: users
          method: get
          cors: true

  getUser:
    handler: users/get.get
    events:
      - http:
          path: users/{id}
          method: get
          cors: true

  updateUser:
    handler: users/update.update
    events:
      - http:
          path: users/{id}
          method: put
          cors: true

  deleteUser:
    handler: users/delete.delete
    events:
      - http:
          path: users/{id}
          method: delete
          cors: true

resources:
  Resources:
    TodosDynamoDbTable:
      Type: 'AWS::DynamoDB::Table'
      DeletionPolicy: Retain
      Properties:
        AttributeDefinitions:
          -
            AttributeName: userId
            AttributeType: S            
        KeySchema:
          -
            AttributeName: userId
            KeyType: HASH
        ProvisionedThroughput:
          ReadCapacityUnits: 1
          WriteCapacityUnits: 1
        TableName: ${self:provider.environment.USERS_DYNAMODB_TABLE}
